<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="author" content="CodeHim">
      <title> Gauge Chart Example </title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/OpenSans.css') }}">
   </head>
   <body>
      <header class="cd__intro">
         <h1> Gauge Chart Example </h1>
         <p> Gauge Chart </p>
         <div class="header">
          <img src="{{ url_for('static', filename='images/btc.png') }}" alt="Coin Img" class="c-image" id="coin-image">
          <div class="dropdown">
            <button class="dropbtn">Select Pair</button>
            <div class="dropdown-content">
              <a href="#" class="currency-option" data-currency="btc">BTCUSD</a>
              <a href="#" class="currency-option" data-currency="eth">ETHUSD</a>
            </div>
          </div>
        </div>
      </header>
      <main class="cd__main">
         <section class="main">
            <button id="random" class="button">Random value</button>
            <h1 class="main__title">Gauge Chart</h1>
            <div class="gauge-container">
               <div class="gauge"></div>
               <div class="gauge"></div>
               <div class="gauge"></div>
            </div>
         </section>
         <svg width="0" height="0" version="1.1" class="gradient-mask" xmlns="http://www.w3.org/2000/svg">
            <defs>
               <linearGradient id="gradientGauge">
                  <stop class="color-red" offset="0%"/>
                  <stop class="color-yellow" offset="17%"/>
                  <stop class="color-green" offset="40%"/>
                  <stop class="color-yellow" offset="87%"/>
                  <stop class="color-red" offset="100%"/>
               </linearGradient>
            </defs>  
         </svg>
      </main>
      <footer class="cd__credit">
         Author: Bruno Carvalho - Distributed By: <a title="Free web design code & scripts" href="https://www.codehim.com?source=demo-page" target="_blank">CodeHim</a>
      </footer>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js'></script>
      <script src='https://cdn3.devexpress.com/jslib/17.1.6/js/dx.all.js'></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
   </body>
</html>